{% extends 'toolpocket_app/layouts/main.html' %}
{#contenido cargado#}
{% block content %}

    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <h1>{{ category_name.name }}</h1>
                    <hr>
                    <div class="row">
                        {% for item in products %}
                            <div class="col-md-4">
                                <div class="card">
                                    <a href="{% url 'collectionsview' item.slug %}">
                                        <div class="card-body">
                                            <div class="category-image">
                                                <img src="{{ item.product_image.url }}" alt="prodcut image" height="290" class="w-100"/>
                                            </div>
                                            <h4 class="text-center"> {{ item.name }} </h4>
                                        </div>
                                     </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}