{% extends 'toolpocket_app/layouts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ profile_user.user.username }}</h3>
        </div>
        <div class="card-body text-center">
          <img src="{{ profile_user.image.url }}" class="rounded-circle img-thumbnail" alt="Profile Image" style="max-width: 150px; max-height: 150px;">
          <div class="my-3">
            <h4>contacto:</h4>
            <p>{{ profile_user.user.email }}</p>
          </div>
          <div class="my-3">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-8">
                          <div class="card shadow">
                              <div class="card-header">Update Profile</div>
                              <div class="card-body">
                                  <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ u_form|crispy }}
                                      {{ p_form|crispy }}
                                      <button type="submit" class="btn btn-primary mt-3">actualizar</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

               <div class="row my-4">
                <h1 class="my-4">Mi kit personal</h1>
                  {% for product in user.profile.favorite_products.all %}
                    <div class="col-md-4">
                      <div class="card mb-3">
                        <a href="{% url 'productview' product.category.slug product.slug %}">
                          <img src="{{ product.product_image.url }}" class="card-img-top img-fluid rounded" style="object-fit: cover; height: 200px;" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                      </div>
                    </div>
                  {% empty %}
                    <div class="col">
                      <p>No tienes productos favoritos todavía.</p>
                    </div>
                  {% endfor %}
               </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
