
{% load static %}

<link rel="stylesheet" href="{% static 'css/slider_images.css'%}">

<div class="row slider-container">
            <div class="col-sm container-bar">
                <div class="sub-container-bar">
                     <h1 style="color:white;">Busca las herramienta que quieres aqui</h1>
                      <form class="search-form ser-bar" id="search-form" autocomplete="off">
                        <div class="input-group">
                          <input type="text" class="form-control " name="search_text" placeholder="Buscar...">
                          <button type="submit" class="btn search-button">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </form>
                      <div id="search-results"></div>
                </div>

            </div>
            <div class="col-md">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="img-s " src="{% static 'images/pic1.png'%}" alt="not found">
                      <div class="carousel-caption">
                          <h2>Usa un tool AHORA</h2>
                          <a type="button" class="btn btn-success" href="{% url 'register' %}">Registrarse</a>
                          <div>
                              <a type="button" class="btn btn-success" href="{% url 'collections' %}">tools</a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img class=" img-s" src="{% static 'images/pic2.jpg'%}" alt="not found">
                      <div class="carousel-caption">
                          <h2>Usa un tool AHORA</h2>
                          <button type="button" class="btn btn-success">Registrarse</button>
                          <div>
                                  <button type="button" class="btn btn-success">tools</button>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-s " src="{% static 'images/pic4.jpg'%}" alt="not found">
                      <div class="carousel-caption">
                          <h2>Usa un tool AHORA</h2>
                          <button type="button" class="btn btn-success">Registrarse</button>
                          <div>
                              <button type="button" class="btn btn-success">tools</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
</div>